# Usage: Aliases for bash

# Fast access to programs

alias fzf="fzf --preview 'bat --color=always --style=numbers --line-range=:500 {}'"

alias py=python3


alias v="nvim"

alias removeclass="rm -r *.class"

alias shada="rm  ~/.local/state/nvim/shada/*"

# Personal
source $HOME/dotfiles/My_scripts/.my_scripts_aliases
