
find_git() {
    local dir="$(pwd)"
    while [ "$dir" != "/" ]; do 
        if [ -d "$dir/.git" ]; then
            cd "$dir" || return 1 
            return 0 
        fi
        dir="$(dirname "$dir")"
    done
    return 1 
}

# Quick git diff from: https://medium.com/@GroundControl/better-git-diffs-with-fzf-89083739a9cb 
git_diff() {
    (find_git &&
    (preview="git diff $@ --color=always -- {-1}"
    git diff $@ --name-only | fzf -m --ansi --preview $preview)
    )
}


# This needs you to have cloned the templates repo in $HOME/Templates
# Repo: https://github.com/Yag000/templates
# The repo has a makefile that copies the templates to the right place

init_rust_project(){
    $HOME/Templates/init_project.sh rust $1
}

init_ocaml_project(){
    $HOME/Templates/init_project.sh ocaml $1
}

init_c_project(){
    $HOME/Templates/init_project.sh c $1
}


init_latex_project(){
    $HOME/Templates/init_project.sh latex $1
}
