# Quick git diff from: https://medium.com/@GroundControl/better-git-diffs-with-fzf-89083739a9cb 
git_diff() {
  preview="git diff $@ --color=always -- {-1}"
  git diff $@ --name-only | fzf -m --ansi --preview $preview
}


# This needs you to have cloned the templates repo in $HOME/Templates
# Repo: https://github.com/Yag000/templates
# The repo has a makefile that copies the templates to the right place

init_rust_project(){
    [ $# -eq 0 ] && file="." || file=$1
    cargo init $file
    cd $file
    cp -r $HOME/Templates/rust/.* .
}

init_ocaml_project(){
    dune init project "$1"
    cd "$1"
    git init
    cp -r $HOME/Templates/ocaml/.* .
    cp -r $HOME/Templates/ocaml/* .
    mv template.opam "$1.opam"
    git init
}

init_c_project(){
    [ $# -eq 1 ] && mkdir $1 && cd $1
    cp -r $HOME/Templates/c/.* .
    cp -r $HOME/Templates/c/* .
    git init
}


init_latex_project(){
    [ $# -eq 1 ] && mkdir "$1" && cd "$1"
    cp -r $HOME/Templates/latex/.* .
    cp -r $HOME/Templates/latex/* .
    mv Main.tex "$1.tex"
    git init
}
